<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>VV Expense Entry</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<style type="text/css">
</style>
</head>
<body>

	<div class="container">
		<h2>Please Enter your Expenses</h2>
		<form method="post" action="/registerExpenseNew"
			th:action="@{/registerExpenseNew}" th:object="${expenseFeedForm}"
			enctype="multipart/form-data">
			<div class="form-group">
				<label for="expName">Expense Title:</label> <input type="text"
					th:field="*{expenseName}" class="form-control" name="expname"
					id="expname" placeholder="Expense Title"> <div style="color:red"
					th:if="${#fields.hasErrors('expenseName')}"
					th:errors="*{expenseName}">Name Error</div>
			</div>
			<div class="form-group">
				<label for="expDetail">Expense Details:</label> <input type="text"
					th:field="*{expenseExplain}" class="form-control" name="expdetail"
					id="expdetail" placeholder="Expense Details"> <div style="color:red"
					th:if="${#fields.hasErrors('expenseExplain')}"
					th:errors="*{expenseExplain}">Name Error</div>
			</div>
			<div class="form-group">
				<label for="expAmount">Expense Amount:</label> <input type="text"
					th:field="*{expenseAmount}" class="form-control" name="expamt"
					id="expamt" placeholder="Expense Amount"> <div style="color:red"
					th:if="${#fields.hasErrors('expenseAmount')}"
					th:errors="*{expenseAmount}">Name Error</div>
			</div>
			<div class="form-group">
				<label for="expAmount">Expense File Proof:</label> <input
					type="file" name="file" th:field="*{proofFile}"
					class="form-control" id="expfile" placeholder="Expense proof" /> <div style="color:red"
					th:if="${#fields.hasErrors('proofFile')}" th:errors="*{proofFile}">Name
					Error</div>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<div th:if="${message}">
			<h2 th:text="${message}"></h2>
		</div>
	</div>
</body>
</html>
